<%= form_for(@intent) do |f| %>
  <% if @intent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intent.errors.count, "error") %> prohibited this intent from being saved:</h2>

      <ul>
      <% @intent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@context.nil? %><%= f.hidden_field :context_id, { value: "#{@context.id}" } %><% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows:7, cols:75 %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
