<%= form_for(@context) do |f| %>
  <% if @context.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@context.errors.count, "error") %> prohibited this context from being saved:</h2>

      <ul>
      <% @context.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <% if !@context_category.nil? %><%= f.hidden_field :context_category_id, { value: "#{@context_category.id}" } %><% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows:7, cols:75 %>
  </div>
  <div class="field">
    Active <%= f.check_box :active %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
<br />