<h1>BRAND: <%= @brand.name %></h1>
<br />
<p>
<% if @skus.size == 0 %>
  You have not added any SKUs to this Brand.<br /><br />
  <%= link_to "Add new SKU to Brand: #{@brand.name}", new_sku_path(:brand_id => @brand.id) %>
<% else %>
  <table>
  <thead>
    <tr>
      <th>SKU</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Description</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Quantity</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Color</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Price</th>
      <th></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @skus.each do |sku| %>
      <tr>
        <td><%= link_to "#{sku.name}", sku_path(sku) %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= sku.description %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align="right"><%= sku.quantity %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= sku.color %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align="right"><%= sku.price %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to(image_tag("pencil.png", :alt => "edit", :title => "Edit SKU #{sku.name}"), edit_sku_path(sku)) %></td>
        <td>&nbsp;</td>
        <td><%= link_to(image_tag("delete.png", :alt => "delete", :title => "Delete SKU"), sku, method: :delete, data: { confirm: 'Are you sure?' }) %>
      </tr>
    <% end %>
  </tbody>
  </table>
  <br />
  <%= link_to "Add new SKU to Brand: #{@brand.name}", new_sku_path(:brand_id => @brand.id) %>
<% end %>

<br /><br /><%= link_to 'Back', product_path(@brand.product_id) %>
